.app {
  display: flex;
  gap: 1rem;
  width: 100vw;
  margin: 0 auto;
  padding: 4rem;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
  min-width: 0;
  border-radius: 10px;
}

.navbar {
  background: rgb(30, 30, 31);
  border-radius: 10px;
  padding: 0;
  border: 1px solid rgb(56, 56, 56);
}

.navList {
  list-style: none;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.navList li {
  flex: 1;
  min-width: clamp(56px, 8vw, 140px);
}

.navLink {
  width: 100%;
  background: transparent;
  border: none;
  color: #d4d4d4;
  padding: clamp(0.6rem, 1.2vw, 1.25rem) clamp(0.8rem, 1.5vw, 1rem);
  font-size: clamp(0.9rem, 1.6vw, 1.1rem);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  text-transform: capitalize;
}

.navLink:hover {
  color: #888686;
}

.navLink.active {
  color: #ffdb70;
}

.contentArea {
  background: #1e1e1f;
  border-radius: 10px;
  padding: 3rem;
  animation: fadeIn 0.5s ease;
  border: 1px solid rgb(56, 56, 56);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1024px) {
  .app {
    flex-direction: column;
    padding: 1.5rem;
    margin-bottom: 4rem;
  }

  .contentArea {
    padding: 2rem;
  }

  .navbar {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background: rgba(68, 68, 68, 0.5);
    backdrop-filter: blur(10px);
  }
}

@media (max-width: 640px) {
  .app {
    padding: 1rem;
    width: 100vw;
    gap: 2rem;
    margin-bottom: 4.5rem;
  }

  .navList li {
    width: 100%;
  }

  .navLink {
    padding: clamp(0.6rem, 2.5vw, 1rem);
    text-align: left;
  }

  .contentArea {
    padding: 1.5rem;
    border-radius: 10px;
  }
}

/* Desktop Responsiveness */

@media (min-width: 1025px) {
  .navbar {
    margin-bottom: 1rem;
  }
}
